.vs-code {
    font-family:Consolas;
    font-size: 1.1rem;
    color:#dfdfbf;
    background:#2c2c2c;
}
.vs-code .comment { color:#2ccc2c;}
.vs-code .keyword { color: #2f33ff; }
.vs-code .cppMacro { color: #9e9a9a}
.vs-code .number { color: #83b7eb;}
.vs-code .operator { color: #ddbfbf;}
.vs-code .cppType { color:#8acccf; }
.vs-code .cppMemberFunction { color:#c8c8c8; }
.vs-code .cppMemberField { color: #dadada;}
.vs-code .cppMemberOperator { color: #b4b4b4;}
.vs-code .cppParameter { color:#7f7f7f; }
.vs-code .cppEnumerator { color:#c8e0ff; }
.vs-code .string { color:#e6af8b; }
.vs-code .cppLocalVariable { color:#c8c8c8; }
.vs-code .cppGlobalVariable { color:#c8c8c8; }
.vs-code .cppNamespace { color: #c8c8c8;}
.vs-code .cppFunction { color: #c8c8c8;}