---
title: HaSa's Blog
layout: default
---

<head>
  <title>{{page.title}}</title>

<p>This is my poor blog. I just quick-configured it to get it running. It will get polished, once I have time to do it.</p>
  
  <h1>Blog Posts</h1>
  {% for post in site.posts %}
  <article>
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      {{post.excerpt}}
    <small>Tags:{% capture tags %} {% for tag in post.tags %}, {{tag}}{% endfor %} {{tags | remove_first: ", "}}</small>
  </article>
  {% endfor %}
