<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>{{page.title}}</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116952732-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116952732-1');
</script>

  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name"><a href="https://hasa1002.github.io/">{{ site.title | default: site.github.repository_name }}</a></h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </section>

    <section class="main-content">
      {{ content }}

      {% if page.comments %}
      <!--<a class="disqus-comment-count" href={{page.url | append: "#disqus_thread"}} data-disqus-url="{{page.url}}">Comment</a>-->
      <div id="disqus_thread"></div>
      <script>
      var disqus_config = function () {
      this.page.url = "{{page.url | absolute_url}}";
      this.page.identifier = "{{page.id}}";
      };

      (function() {
      var d = document, s = d.createElement('script');
      s.src = 'https://hasa1002-github-io.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      {% endif %}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">Hosted on <a href="https://pages.github.com">GitHub Pages</a> for <a href="https://github.com/HaSa1002/">Johannes Witt</a>.</span>
      </footer>
    </section>
    
    <script id="dsq-count-scr" src="//hasa1002-github-io.disqus.com/count.js" async></script>
  </body>
</html>
